<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	  <test thread-count="5" name="Assert_Class">
    <classes>
      <class name="com.aspire.FrameWork.TestNG_Assert.Assert_CLass">
      <methods>
          <exclude name="m5"/>
          <include name="m6"/>
          <include name="m2"/>
        </methods>
        </class>
    </classes>
  </test> <!-- Assert_Class -->
</suite> <!-- Suite -->
